.index {
  flex-direction: column;
  width: 100%;
}
.item {
  text-align: center;
}

@import "~taro-ui/dist/style/components/accordion.scss";
@import "~taro-ui/dist/style/components/icon.scss";
@import "~taro-ui/dist/style/components/grid.scss";
@import "~taro-ui/dist/style/components/card.scss";
